@using Microsoft.Ajax.Utilities
@model StringsWeb.ViewModels.CheckQuoteViewModel

@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Give a Quote</h2>


@{
    string quotePassed = Model.Quote.GetUserString();
    if (quotePassed.IsNullOrWhiteSpace())
    {
        <p>give it a go!</p>
        <form asp-controller="Quotes" asp-action="Check" class="form-inline mbm" method="post">
            <p>calculate the answer to the Ultimate Question of Life, the Universe, and Everything...</p>
            <div class="form-group">
                <input class="form-control" name="passMe" />
                <input class="btn btn-primary" type="submit" value="Calculate" />
            </div>
        </form>

    }
    else
    {
        <h3>Using ViewModels</h3>
        Model.Quote.CountTotal(quotePassed);
        <p>Count Total: @Model.Quote.CountTotal(quotePassed)</p>
        <p>Unique Words: @Model.Quote.WordsUnique(quotePassed)</p>

        Dictionary<string, int> myWordCounts = Model.Quote.CountUnique(quotePassed);
        <ul>
            @foreach (var subItem in myWordCounts)
            {
                <li>
                    @subItem.Key
                    @subItem.Value
                </li>
            }
        </ul>

        @* using viewbag here with count and words unique *@
        <h3>Using ViewBag</h3>
        <p>ViewBag Count: @ViewBag.myC</p>
        <p>viewBag Words unique: @ViewBag.myWU</p>
    }
}


